@model MVC.Models.Contato;

@{
    
}

<h1 style="color: red;">Deseja realmente Deletar esse contato ? </h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.Nome)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(_ => _.Nome)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.Telefone)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(_ => _.Telefone)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(_ => _.Ativo)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(_ => _.Ativo)
        </dt>
    </dl>
</div>

<form asp-action="Deletar">
    <input type="submit" value="Deletar" class="btn btn-danger"/>
</form>

<br>

<a asp-action="Index">Voltar</a>