@model MVC.Models.Carrinho;

<div class="container container-xl">
    <div class="jumbotron">
        <center><h2 id="listagemTitulo">Deseja realmente Excluir este item?</h2></center>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">@Html.DisplayFor(_ => _.Id)</th>
                        <th scope="col">@Html.DisplayFor(_ => _.nomePedido)</th>
                        <th scope="col">@Html.DisplayFor(_ => _.descricao)</th>
                        <th scope="col">@Html.DisplayFor(_ => _.qtdPedido)</th>
                        <th scope="col">@Html.DisplayFor(_ => _.precoPedido)</th>
                    </tr>
                </tbody>
            </table>
            <form asp-controller="Carrinho" asp-action="Deletar" asp-route-id="@Model.Id" method="post">
                <input type="submit" value="Deletar" class="btn btn-danger"/>
            </form>

            <br>

            <a asp-action="Index">Voltar</a>
    </div>
</div>