@model IEnumerable<MVC.Models.Carrinho>;
@{
    ViewData["Title"] = "Listagem de Pedidos";
    //Layout = null;
}

<div class="container container-xl">
    <div class="jumbotron">
        <center><h2 id="listagemTitulo">Seus Pedidos</h2></center>
        <div><a class="btn btn-primary" asp-controller="Carrinho" asp-action="Adicionar">Criar novo Pedido</a></div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Cancelar Item</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                    <td scope="col">@Html.DisplayFor(Model => item.Id)</td>
                    <td scope="col">@Html.DisplayFor(Model => item.nomePedido)</td>
                    <td scope="col">@Html.DisplayFor(Model => item.descricao)</td>
                    <td scope="col">@Html.DisplayFor(Model => item.qtdPedido)</td>
                    <td scope="col">@Html.DisplayFor(Model => item.precoPedido)</td>
                    <td scope="col"><a class="btn btn-primary" asp-controller="Carrinho" asp-action="Editar" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true" alt="Editar"></i></a></td>
                    <td scope="col"><a class="btn btn-danger" asp-controller="Carrinho" asp-action="Cancelar" asp-route-id="@item.Id"><i class="fa fa-ban" aria-hidden="true"></i></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>